include LICENSE
include setup.cfg
include pydgutils_bootstrap.py
include requirements*.txt

prune preprocessed

recursive-include src *
recursive-include tests *
recursive-exclude * __pycache__
recursive-exclude * *.py[co]

recursive-include docs *.rst conf.py Makefile make.bat *.jpg *.png *.gif
